@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --portfolio-bg: #222;
    --font-text:#c8c8c8;
    --font-heading: #fff;
}

.light:root {
    --portfolio-bg: #c8c8c8;
    --font-text:#555;
    --font-heading: #222;
}


body{
    background-color: var(--portfolio-bg);
    font-family: 'Share Tech Mono', Monospace, Courier;;
    color: var(--font-text);
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
}

.application{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 16px 0px;
        border-bottom: 1px dashed var(--font-text);
        transform:  rotate(-90deg);

        .logo-div{
            display: flex;
            justify-content: center;
            width: 80px;
            
            .logo{
                font-weight: 900;
                font-size: 40px;
                letter-spacing: -7px;   
                }

        }

    }
}

.icon{
    font-size: 23px;
    cursor: pointer;
    padding: 16px, 0px;
    
}

