
// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {font-family: "Lettera Text Std"; src: url("fonts/lineto-lettera-pro-light.woff") format("woff"); }
@font-face{font-family:industry-inc-base;src:url(https://use.typekit.net/af/d466d8/0000000000000000000171e2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/d466d8/0000000000000000000171e2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/d466d8/0000000000000000000171e2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:100;font-style:normal;font-display:auto;}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.dark:root {
    --portfolio-bg: #222;
    --font-text:#c8c8c8;
    --font-heading: #fff;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --box: #292929;
    --box-shadow: 0,0,0;

}

.light:root {
    --portfolio-bg: #F5F5F5;
    --font-text:#525257;
    --font-heading: rgba(0,0,0,.8);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --box: #f8f8fc;
    --box-shadow: 39, 44, 49;
    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
body{
    background-color: var(--portfolio-bg);
    color: var(--font-text);
    transition: background 0.2s ease;
    overflow-y: hidden;
}
.app-container{
    //font-family: 'Roboto Mono', monospace;
    font-family: 'Lettera Text Std', monospace;
    //font-family: industry-inc-base, monospace;
    font-weight: 900;
    display: grid;
    grid-template-columns: 3% 20% 67%;
    letter-spacing: 1.7px;
    height: 100%;
    
}

.numbers{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 9px;
    color: #67676e;
    overflow-y: hidden;
    .number{
        padding-top: 20px;
    }
}
aside{
    line-height: 1.6;
    font-size: .5rem;
    height: 100%;
    width: 100%;

    h1{
      
        padding: 1rem 0 .85rem 0rem;
        font-weight: 400;
        font-size: 1.1875rem;
        margin: 0;
        color: var(--font-heading);
        
    }

    .header-info{
        list-style: none;
        font-size: 0.75rem;
        line-height: 1.642;
        text-transform: uppercase;
        width: 70%;
        max-width: 300px;

        li{
            display: flex;
            justify-content: space-between;
        }

        
    }
}

article{
  font-size: 1.5rem;
  overflow-y: scroll;
  // -ms-overflow-style: none;  /* Internet Explorer 10+ */
  // scrollbar-width: none;  /* Firefox */
  align-items: center;
  max-width: 1500px;

  .intro{
    //font-family: industry-inc-base, monospace;
    display: flex;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20vh;

    p{
      margin: 0 100px 20px;

      span{
        color: green;
        font-weight: 900;
      }

      i{
        background:#b9fcc0;
      }
    }

    .introduction{
          background:#b9fcc0;
      }
      
      .blink{
          animation: blinker 0.7s linear infinite;
        }
        
        @keyframes blinker {
          50% {
            opacity: 0;
          }
      }
  }


  .work-ex-container{
    display: grid;
    margin: auto;
    grid-template-columns: 20% 80%;
    padding-bottom: 20vh;
    width: 90%;
    flex-direction: row;
    
    .firm-list{
      width: max-content;
      
      .tab{
        height: 42px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0px 20px 2px;
        border-left: 2px solid black;
      }
      .active{
        border-left: 4px solid springgreen;
      }
    }
    .work-details{
      .work-section{
        position: absolute;
        padding: 10px 5px;
        opacity: 0;
        
      p{
        font-size: 14px;
        margin-bottom: 25px;
      }
      ul{
        list-style: none;
        font-size: 18px;

        li{
          padding-left: 30px;
          margin-bottom: 10px;
        }
      }
    }
    .visible{
      opacity: 1;
      position: relative;
    }
      }
      
  }
  .project-container{
    display: flex;
    justify-content: center;
    width: 100%;
  

  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 50px;
    width: 100%;

    .project{
      width: 100%;
      // background-image: linear-gradient(to right, #f4f4f4, #f2f2f2, #f0f0f0, #eeeeee, #ececec);
      background-color: var(--box);
      border-radius: 5px;
      //box-shadow: 8px 14px 38px rgba(var(--box-shadow), 0.06), 1px 3px 8px  rgba(var(--box-shadow), 0.03);
      box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
      transition: all 0.5s ease;
    

    &:hover {
      box-shadow: none;
      transition: all 0.3s ease;
      transform: translate3D(0, -1px, 0);
    }
    .content{
      display: grid;
      // height: 100%;
      grid-template-rows: 15% 15% 55% 35%;
      padding: 2rem 1.75rem;
      font-size: 20px;
      

      .project-links{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;
        
        align-items: center;

        .project-icon{
          height: 20px;
          width: 20px;
          padding: 5px 5px;
        }

        .folder{
          margin-right: auto;
          height: 40px;
          width: 40px;
        }
      }
      .project-title{
        margin: 0px 0px 10px;
        font-size: 22px;
      }
      .project-description{
        font-size: 17px;
      }
      .tech-stack{
        display: flex;
        justify-content: left;
        list-style-type: none;
        margin: 20px 0px 0px;
        margin-bottom: auto;

        li{
          line-height: 1.75;
          font-size: 14px;
          margin-right: 15px;
        }
      }

    }
    }


  }

}
}

// article{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 1.5rem;
//     overflow-y: scroll;
//     -ms-overflow-style: none;  /* Internet Explorer 10+ */
//     scrollbar-width: none;  /* Firefox */
    
// }

// .introduction{
//     background:#b9fcc0;
// }

// .blink{
//     animation: blinker 0.7s linear infinite;
//   }
  
//   @keyframes blinker {
//     50% {
//       opacity: 0;
//     }
// }

.right-side{
    display: flex;
    justify-content: center;
}

.bulb {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem 0 .85rem 3rem;
  }
  .bulb svg {
    transition: all 0.3s linear;
    margin: 8px 0 0 8px;
    fill: none;
  }
  .bulb svg path {
    stroke: #fdbf05;
    stroke-width: 2;
    stroke-linecap: round;
    transition: all 0.2s linear;
  }
  .bulb svg path.light {
    stroke: #fdbf05;
    stroke-dasharray: 5px;
    stroke-dashoffset: 0;
  }

  .bulb.off svg {
    transform: translateY(-2px);
  }
  .bulb.off path {padding: 1rem 0 .85rem 3rem;
    stroke: #8f8f8f;
  }
  .bulb.off path.light {
    stroke-dashoffset: 5px;
  }

  